<md-dialog
        class="application-create-dialog">
    <md-dialog-content
            md-padding

            class="sticky-container">
        <md-subheader ng-if="frontend.id">
            Edit Frontend
        </md-subheader>

        <md-subheader ng-if="!frontend.id">
            Create Frontend
        </md-subheader>

        <md-content layout-padding layout="column">
            <form ng-submit="save()">
                <md-input-container>
                    <md-select
                            placeholder="Frontend Type"

                            ng-model="frontend.Type">
                        <md-option value="http">HTTP</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <md-select
                            ng-model="frontend.BackendId"

                            aria-label="Backend"
                            style="min-width: 200px;">
                        <md-option ng-value="unitFile.id" ng-repeat="unitFile in unitFiles">
                            {{ unitFile.serviceName }} (Port {{ unitFile.port }})
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Route Expression</label>
                    <textarea
                            ng-model="frontend.Route">
                    </textarea>
                </md-input-container>

                <p class="md-caption">More information on the route expression syntax can be found in the <a href="http://vulcanproxy.com/proxy.html#routing-language">Vulcan documentation</a>.</p>
            </form>
        </md-content>
    </md-dialog-content>

    <div class="md-actions" layout="row">
        <md-button
                ng-click="delete()"
                ng-disabled="loading"
                ng-if="frontend.id"

                aria-label="Delete"
                class="md-warn">
            Delete
        </md-button>
        <md-button
                ng-click="cancel()"
                ng-disabled="loading"

                aria-label="Cancel">
            Cancel
        </md-button>
        <md-button
                ng-click="save()"
                ng-disabled="loading || !frontend.Type || !frontend.BackendId || !frontend.Route"

                aria-label="Save Frontend"
                class="md-primary">
            <span ng-if="frontend.id">Save</span>
            <span ng-if="!frontend.id">Create</span>
        </md-button>
    </div>
</md-dialog>