<md-content layout-padding layout="column">
    <md-toolbar class="filter-toolbar">
        <div class="md-toolbar-tools" layout="row" layout-align="center center" layout-align-gt-md="end center">
            <md-button
                    ng-click="start()"
                    ng-disabled="loading || service.state == 'running' || service.state == 'terminated'"

                    class="md-primary">Start</md-button>
            <md-button
                    ng-click="stop()"
                    ng-disabled="loading || service.state == 'initialized' || service.state == 'stopped' || service.state == 'terminated'"

                    class="md-accent">Stop</md-button>
            <md-button
                    ng-click="unload()"
                    ng-disabled="loading || service.state == 'initialized' || service.state == 'terminated'"

                    class="md-accent">Unload</md-button>
            <md-button
                    ng-click="terminate()"
                    ng-disabled="loading || service.state == 'terminated'"

                    class="md-warn">Terminate</md-button>
        </div>
    </md-toolbar>

    <h2 class="md-display-1">{{ service.name }}</h2>

    <div layout="column" layout-gt-md="row">
        <div flex-gt-md="20">
            <md-list>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>{{ service.state}}</h3>
                        <p>Status</p>
                    </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>{{ service.createdAtRelative }}</h3>
                        <p>Created</p>
                    </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>
                            <a href="#/applications/{{ application.id }}">{{ application.name }}</a>
                        </h3>

                        <p>Application</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>

        <div
                flex
                layout-padding>
            <md-tabs>
                <md-tab label="Units">
                    <md-list>
                        <div ng-repeat="unitFile in service.unitFiles">
                            <md-list-item>
                                <p class="md-subheader">{{ unitFile.id }}</p>
                            </md-list-item>

                            <md-list-item
                                    ng-repeat="unit in unitFile.units"

                                    class="md-2-line">
                                <div class="md-list-item-text">
                                    <h3>{{ unit.unit }}</h3>

                                    <p>{{ unit.active }} on {{ unit.machineId }} ({{ unit.machineIp }})</p>
                                </div>
                            </md-list-item>

                            <md-list-item
                                    ng-if="!unitFile.units.length"

                                    class="md-2-line">
                                <div class="md-list-item-text">
                                    <h3>This unit file has no scheduled or running units.</h3>

                                    <p>You must start the service to schedule the units in the cluster.</p>
                                </div>
                            </md-list-item>
                        </div>
                    </md-list>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</md-content>